<form method="POST" action="?_method=DELETE">
  <div>
    <label>Utilisateur à extraire de la matrice</label>
    <input>
    <button type="submit">Appel des machines</button>
  </div>
</form>
<img src="https://media.giphy.com/media/EBAiXdgJdwSHe/giphy.gif" />
