<form method="POST" action="?_method=PUT">
  <div>
    <label>Utilisateur à reprogrammer</label>
    <input name="user">
    <button type="submit">Appel des agents</button>
  </div>
</form>
<img src="https://media.giphy.com/media/saD01LsKDzxL2/giphy.gif" />
